* {
  margin: 0;
}

#drum-machine {
  margin: 15px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
}

.keyboard {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  // margin: 10px;
}

 .drum-pad {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  font-size: 28px;
  border-radius: 10px;
  background-color: #a1a3a5;
  transition: all -3s ease-in-out; 
  margin: 10px;
  box-shadow: black 3px 3px 5px;
}

.drum-pad:hover{
    background-color: rgb(59, 61, 65);
    color: white;
    cursor:pointer;
  }

.wrapper {
  //  width: auto;
  //  height: 20vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   grid-gap: 15px;
   margin-top: 20px;
   border-radius: 15px;
   grid-template-columns: 1fr;
   background-image: linear-gradient(-255deg, #0b4e7d 35%, #9aa2a9 100%);
   outline: 5px solid rgb(3, 61, 116);
	 position: relative;
	 width: 400px;
   height: 100vh;
}
 .body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh
 }

#volume {
  background-color: #bcbbc5;
  color: black;
  font-size: 18px;
  padding: 10px;
  margin: 12px;
  font-family: 'Trebuchet MS'; 
}


#scroll {
  padding: 10px;
  margin: 2px;
}
@media(min-width: 768px) {
  .wrapper {
    width: 682px;
  }
}

@media(min-width: 992px ) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.controle {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding-left: 20px;
}

.controle > button,
.controle > input,
.controle > h2{
  margin-bottom: 10px;
}


#switch, #power{
  background-color: #02011c;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(225, 206, 206);
  padding: 10px;
  margin: 15px;
}