* {
  margin: 0;
}

#drum-machine {
  margin: 15px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
}

.keyboard {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper {
  width: 100%;
  display: grid;
  padding: 10px;
  grid-gap: 15px;
  margin-top: 40px;
  border-radius: 15px;
  grid-template-columns: 1fr;
  background-image: linear-gradient(-255deg, #0b4e7d 35%, #9aa2a9 100%);
}
